@{
    ViewBag.Title = "InspectLendRecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="welcome_text">查看借閱紀錄</h2>


<div id="grid"></div>
@Html.ActionLink("返回清單", "Index", new { id = "btnBack" }, new { @class = "btn btn-default", @id = "btnBack" })
<script>
    $(document).ready(function () {
        var encodedParam = window.location.search
        encodedParam = "?" + atob(encodedParam.substr(1))
        var urlParams = new URLSearchParams(encodedParam);
        var bookId = urlParams.get('bookId')
       
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "/Book/InspectLendRecord",
                        type: "post",
                        dataType: "json",
                        data: function () {
                            return {
                                bookId: bookId
                            }
                        }
                    }
                },
                change: function (e) {
                    var data = this.data();
                    /* The result can be observed in the DevTools(F12) console of the browser. */
                },
                pageSize: 20
            },
            height: 550,
            scrollable: true,
            sortable: true,
            filterable: true,
            pageable: {
                input: true,
                numeric: false
            },
            noRecords: {

            },
            columns: [
                { field: "BookLendDate", title: "借閱日期", width: "15%" },
                { field: "BookKeeperId", title: "借閱人員編號", width: "30%" },
                { field: "UserEName", title: "英文姓名", width: "12%" },
                { field: "UserCName", title: "中文姓名", width: "10%" }
            ]
        });
    });
</script>
<style>
    #welcome_text {
        margin-top: 20px;
        margin-left: 15px;
    }

    #btnBack {
        margin-top: 20px;
        margin-left: 30px;
    }
</style>

